**/*.iml
**/*.log
**/*.trc
**/.DS_Store
**/.classpath
**/.idea
**/.project
**/.settings/
**/.vscode
**/credentials.*
**/node_modules
**/package-lock.json
**/target/
*.iml
.DS_Store
.classpath
.idea/
.project
.settings/
.vscode/
/s4hana_pipeline
docs/.sass-cache/
docs/_site/
node_modules/
s4hana_pipeline/
target/
